---
title: News | NuMat
layout: default
permalink: /news/
---
<div class="container masonry page-header">

  {% for post in site.data.news %}

  {% if post.video %}
  <div class="post video-post">
    <div class="entry-media">
        <iframe src="{{ post.video }}" frameborder="0"></iframe>
    </div>

  {% else %}
  <div class="post">
    {% if post.images %}
    {% for image in post.images %}
    <a href="{{ image.link }}" target="_blank">
      <img class="post-img" src="/img/{{ image.file }}" alt="{{ image.alt }}"/>
    </a>
    {% endfor %}
    {% elsif post.image %}
    <a href="{{ post.link }}" target="_blank">
      <img class="post-img" src="/img/{{ post.image }}" alt="{{ post.alt }}"/>
    </a>
    {% endif %}
  {% endif %}

    <div class="entry-body">
      <h2 class="entry-title">{{ post.title }}</h2>
      <p class="date">{{ post.date }}</p>
      <p>{{ post.description | markdownify }}</p>
    </div>
  </div>
  {% endfor %}
</div>
