---
title: News | NuMat
layout: default
permalink: /news/
---
<div class="container masonry top">

  {% for post in site.data.news %}

  {% if post.video %}
  <div class="post video-post">
    <div class="entry-media">
        <iframe src="{{ post.video }}" frameborder="0"></iframe>
    </div>

  {% else %}
  <div class="post">
    {% for image in post.images %}
    {% if image.link %}
    <a href="{{ image.link }}" target="_blank">
      <img class="post-img" height="{{ image.height }}" alt="{{ image.alt }}"
           src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
           data-src="/img/news/{{ image.file }}" />
    </a>
    {% else %}
    <img class="post-img" height="{{ image.height }}" alt="{{ image.alt }}"
         src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
         data-src="/img/news/{{ image.file }}" />
    {% endif %}
    {% endfor %}
  {% endif %}

    <div class="entry-body">
      <h2 class="entry-title">{{ post.title }}</h2>
      <p class="date">{{ post.date }}</p>
      <p>{{ post.description | markdownify }}</p>
    </div>
  </div>
  {% endfor %}
</div>
