---
title: People | NuMat
layout: default
permalink: /people/
---

{% assign header = site.data.people.header %}
<div class="header">
  <div class="header-background" data-src="/img/backgrounds/{{ header.background }}"></div>
  <div class="vertical-center-table">
    <div class="header-title skrollable skrollable-between" data-0="top: 0px; opacity: 1;" data-top="top: 100px; opacity:0;">
      <h1>{{ header.title }}</h1>
    </div>
  </div>
</div>

<div class="container">

  <div class="row description">
    <div class="col-xs-12">
      <p>{{ header.description }}</p>
    </div>
  </div>

  {% for group in site.data.people.groups %}

  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">The {{ group.name }}</h1>
    </div>
  </div>

  <div class="row people">
    {% assign currentOffset = -4 %}
    {% for member in group.members %}
    <div class="col-xs-3 person" id="{{member.name | downcase | replace:' ','-'}}">
      <figure>
        <img class="grayscale" alt="{{ member.name }}"
             src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
             data-src="/img/people/{{member.name | downcase | replace:' ','_'}}.jpg">
        <figcaption>{{ member.name }}</figcaption>
      </figure>
    </div>
    {% capture mod %}{{ forloop.index | modulo:4 }}{% endcapture %}
    {% if mod == "0" or forloop.last %}
    </div>
      {% assign currentOffset = currentOffset | plus:4 %}
      {% for member in group.members limit:4 offset:currentOffset %}
      <div class="row person-detail" id="{{member.name | downcase | replace:' ','-'}}-detail">
        <div class="col-xs-12 col-sm-6">
          <img alt="{{ member.name }}"
               src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
               data-src="/img/people/{{member.name | downcase | replace:' ','_'}}_full.jpg">
        </div>
        <div class="col-xs-12 col-sm-6">
          <h2>{{ member.name }}</h2>
          <h5 class="role">{{ member.position }}</h5>
          <p>{{ member.description | markdownify }}</p>

          <h5 class="role">
            {% if member.linkedin %}
              <a href="{{ member.linkedin }}" target="_blank"><i class="fa fa-linkedin-square"></i></a>
            {% endif %}
            {% if member.github %}
              <a href="http://github.com/{{ member.github }}" target="_blank"><i class="fa fa-github"></i></a>
            {% endif %}
            {% if member.email %}
              <a href="mailto:{{ member.email }}" target="_blank"><i class="fa fa-envelope"></i></a>
            {% endif %}
          </h5>
        </div>
      </div>
      {% endfor %}
      <div class="row people">
    {% endif %}
  {% endfor %}
  </div>
  {% endfor %}
</div>
